@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Montserrat;
	src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
	font-family: "Roboto Slab";
	src: url("/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Montserrat, system-ui;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.grecaptcha-badge {
	visibility: hidden;
}
